body {
    background-image: url(../spotify-theme.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
  }
  
  * {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .container{
    text-align: center;
    width: 1080px;
    height: 100%;
    background-color: rgb(230, 230, 230);
    color: black;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
  }

  .displaySong{
    margin: 0 auto;
  }
  
  form {
    width: 500px;
    border: 2px solic #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
  }
  
  
  label {
    color: #888;
    font-size: 18px;
    padding: 10px;
  }
  
  button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .error {
    background: #f2dede;
    color: #a94442;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  .success {
    background: #d4edda;
    color: #40754c;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  .ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
  }
  
  .ca:hover {
    text-decoration: underline;
  }
  
  .ca2 {
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .c3{
    width : 1000px;
    background-color: #1DB954;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px;
    }
    
  .c3 > a{
    text-decoration: none;
    color: #fff;
  }
  
  .ca2:hover {
    text-decoration: underline;
  }
  
  .home-nav a {
    padding: 10px;
    color: #f7bd65;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  td{
    text-align: center;
  }
  
  .dashboard {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .icon-dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .icon-dashboard label{
    text-align: center;
  }
  
  .icon-dashboard a  {
    margin: auto 40px;
    padding: 10px;
    color: #f7bd65;
    text-transform: uppercase;
    text-decoration: none;
    }
  
  .dashboard label {
    color: #f7bd65;
  }
  
  input[type="checkbox"]{
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    background: #c6c6c6;
    width: 50px;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  input:checked[type="checkbox"] {
    background: #1DB954;
  }
  
  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.15);
    box-shadow: 0 2px 5 rgba(0, 0);
    transition: 0.5s;
  }
  
  input:checked[type="checkbox"]:before {
    left: 26px;
  }
  
  .link {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  table{
    width:1000px; 
    line-height:40px; 
  }
  
  li:hover{
    cursor: pointer;
    background-color: #1DB954;
  }
  