@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background: black;
}

/* Scrollbar customization */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color:rgba(235, 221, 221, 0.4);
}
/* End scrollbar customization */

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content {
    display: flex;
    width: 100%;
    height: 85vh;
}


/* Sidebar */

.sidebar {
    height: 100%;
    background: black;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    /* padding: 10px 5px; */
    /* margin: 15px auto; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header i {
    font-size: 40px;
    padding: 5px;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 5px;
}

/* Buttons */
.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background: lightblue; */
}

.buttonContainer {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 2px 8px;
    border-radius: 20px;
    width: 90%;
    display: flex;
    padding: 5px;
    align-items: center;
    outline: none;
    border: none;
    color: white;
    background-color: Transparent;
    cursor: pointer;
}

.buttonContainer i {
    margin: 10px;
    font-size: 15px;
    transition: all 0.2s ease-out;
}

.buttonContainer h3 {
    margin: 5px;
    font-size: 18px;
    transition: all 0.2s ease-out;
}

.buttonContainer a {
    text-decoration: none;
    color: inherit;
} 

.buttonContainer:hover i {
    font-size: 22px;
}
.buttonContainer:hover h3 {
    font-size: 20px;
}

/* .buttonContainer.active {
    background: rgba(216, 216, 216, 0.3);
} */

.breakLine {
    width: 80%;
    height: 2px;
    border-radius: 1px;
    background: gray;
    margin: 5px auto;
}

/* Playtists */
.playtists {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    overflow-y: scroll;
}

.playtist {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin: 5px 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.playtist h4 {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

/* End sidebar */

/* Music player section */
.musicPlayerContainer {
    width: 100%;
    height: 15vh;
    background: black;
    display: flex;
    justify-content: space-between;
}

.musicPlayerContainer * {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

/* Music Info */
.musicInfo {
    width: 25%;
    justify-content: space-between;
}

.musicInfo img {
    height: 80px;
    width: 80px;
}

.musicDetail {
    font-family: 'Source Sans Pro', sans-serif;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    line-height: 1.6;
}

.musicDetail h4,
.musicDetail h5 {
    margin-top: 8px;
}

.musicDetail h5 {
    color: rgba(235, 221, 221, 0.521);
}


/* Music Player */
.musicPlayer {
    width: 40%;
    justify-content: center;
    flex-direction: column;
}

.navigation {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.action-btn {
    color: white;
    background: none;
    border: 0;
    font-size: 15px;
    padding: 7px;
    margin: 0 20px;
    cursor: pointer;
}

.action-btn-big {
    font-size: 20px;
}

.action-btn:focus {
    outline: 0;
}

.progressContainer,
.volumeInfo {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    padding: 0;
    height: 7px;
    width: 80%;
}

/* Volume and progress section */
.progress,
.volume {
    padding: 0;
    background-color: gray;
    border-radius: 2px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.volumeContainer {
    width: 25%;
    justify-content: space-evenly;
}

.volumeContainer i {
    font-size: 20px;
    transform: translateX(100%);
}

.volumeInfo {
    width: 40%;
    height: 4px;
    padding: 0;
}

.volume {
    width: 100%;
    height: 4px;
    padding: 0;
    background-color: lightgreen;
}
/* End musicplayer section */

/* Musics container */
.musicContainer {
    flex: 9;
    height: 100%;
    background-image: linear-gradient(180deg, rgb(48, 47, 47), rgb(12, 12, 12));
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.musicContainer section {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
}

.hide {
    display: none;
}

.sectonTitle {
    font-weight: 500;
}



/* Nav bar */
nav {
    padding: 2rem 2rem;
    min-height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.logo-container {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    position: relative;
}

.logo {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    cursor: pointer;
}

.logo-links {
    background: white;
    padding: 1rem 0;
    position: absolute;
    width: 400%;
    transform: translate(-75%, -5%);
    background-color: black;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s linear;
}

.logo-active {
    transform: translate(-75%, 0%);
    opacity: 1;
    pointer-events: all;
}

.logo-links h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: .5rem 0; 
}

.logo-links li {
    width: 100%;
    text-align: center;
    display: flex;
}

.logo-links a {
    text-decoration: none;
    color: whitesmoke;
    width: 200%;
    padding: .2rem 0.2rem;
    transition: all 0.1s ease;
    cursor: pointer;
    z-index: 2;
}

.logo-links a:hover {
    transform: scale(1.05);
}

