* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    background: lightblue;
    display: flex;
    flex-direction: column;
}

.another {
    margin-top: 30px;
    background: lightgreen;
}

.block {
    width: 5rem;
    min-height: 20rem;
    margin: 20px auto;
    background: lightcoral;
}