* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;

}

#my-search {
    width: 60%;
    height: 30px;
    border-radius: 5px;
}

.box {
    width: 5rem;
    min-height: 20vh;
    background: lightblue;
    cursor:pointer;
    margin: 1rem 0;
    transition: all 1s ease-out;
}

.blurNgheThuat {
    filter: blur(5px);
}